*{
    margin: 0px;
    top: 0px;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /*font-family: 'Poppins', sans-serif;*/
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    position: sticky;
    background-color: #fff;
}
.menu img{
    width: 50vh;
}
.menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 20vh;
}
.menu li{
    margin: 20px;
    
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
	max-width:1000px;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
.bienvenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #012E40;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    color: #ffffff;

}
.bienvenido .b1{
    text-align: center;
    width: 550px;
    margin: 50px 130px;
    color: #ffffff; /* Texto blanco */
}
.imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 80px;
    padding: 50px;
}
.imgs img{
    width: 200px;
}
.imgs img:hover{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
    text-align: center;
}
.titulo h2{
    font-size: 30px;
}
.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.contenido img{
    width: 280px;
}
.circ{
    background-color: rgb(23, 224, 144);
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    position: absolute;
    top: 90px;
}
.productos{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.productos .contprod{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.contprod div{
    margin: 10px 80px;
    overflow: hidden;
    background-image: url("/img/imgArduinoprod.png");
    width: 10vw;
    padding: 20px;
    text-align: center;
    height: 20vh;
    border-radius: 20px;
}
.contprod img{
    width: 80px;
    border-radius: 20px;
}

/*footer{
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: red;
    text-align: center;
}*/


.tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;

}
/*aqui para la tarjeta de productos*/
.tarjeta{
    width: 60vh;
    height: 40vh;
    overflow: hidden;
    margin: 30px;
    border-radius: 10px;
    color: #fff;
}
.productos .t1{
    background-color: #ffffff;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.productos .t1:hover{
    background-color:#FF3131; /* Nuevo color de fondo al hacer hover (azul claro) */
    color: #ffffff;
}
.prcontt .i1{
    color: #0d192c; 
    font-size: 80px;
    transition: font-size .5s, color .3s;
}
.t1:hover .i1{
    color: #105cd4; 
    font-size: 80px;
    transition: font-size .5s, color .3s;
}
.productos .t2{
    background-color: #ffffff;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.productos .t2:hover{
    background-color:#FFDE05; /* Nuevo color de fondo al hacer hover (azul claro) */
    color: #ffffff;
}
.prcontt .i2{
    color: #0d192c; 
    font-size: 80px;
    transition: font-size .5s, color .3s;
}
.t2:hover .i2{
    color: #ff0505; 
    font-size: 80px;
    transition: font-size .5s, color .3s;
}
.productos .t3{
    background-color: #ffffff;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.productos .t3:hover{
    background-color:#00BF63; /* Nuevo color de fondo al hacer hover (azul claro) */
    color: #ffffff;
}
.prcontt .i3{
    color: #0d192c; 
    font-size: 80px;
    transition: font-size .5s, color .3s;
}
.t3:hover .i3{
    color: #fffb05; 
    font-size: 80px;
    transition: font-size .5s, color .3s;
}
.productos .t4{
    background-color: #ffffff;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.productos .t4:hover{
    background-color:#0097B2; /* Nuevo color de fondo al hacer hover (azul claro) */
    color: #ffffff;
}
.prcontt .i4{
    color: #0d192c; 
    font-size: 80px;
    transition: font-size .5s, color .3s;
}
.t4:hover .i4{
    color: #37ff05; 
    font-size: 80px;
    transition: font-size .5s, color .3s;
}
.producto{
    
    height: 258px;
    border-bottom-right-radius: 100%;
    padding: 50px 30px;
    display: block;
    justify-content: space-between;
    align-items: center;
    
}
.producto button{
    margin-top: 30px;
    font-style: italic;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    border-style: none;
}
.prcontt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.producto i{
    font-size: larger;
    margin: 0px 10px;
    text-align: center;
}
.contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
    padding: 40px;
    background-color: #2a636d;
    border-radius: 40px;
    color: #ffffff;
}
.form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0px 100px;
    color: black;
    background-color: #ffffff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.contacto label {
    display: block;
    margin-bottom: 10px;
}

.contacto input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.contacto textarea {
    resize: none;
    height: 130px;
}
.contacto button {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.contacto button:hover {
    background-color: #45a049;
}
.redes{
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#ffffff;
    transition: font-size .5s, color .3s;
}
.fb{
    color:#ffffff;
    transition: font-size .5s, color .3s;
}
.fb:hover{
    color: #105cd4;
    transition: font-size .5s, color .3s;
}
.gl{
    color:#ffffff;
    transition: font-size .5s, color .3s;
}
.gl:hover{
    color: #d41010;
    transition: font-size .5s, color .3s;
}
.wh{
    color:#ffffff;
    transition: font-size .5s, color .3s;
}
.wh:hover{
    color: #20d410;
    transition: font-size .5s, color .3s;
}
footer{
    text-align: center;
    padding: 20px 0px;
}
footer img:hover{
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.linf{
    display: flex;
    justify-content: center;
    margin: 10px 20px;
}
.linf ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 9vh;
    margin: 20px 0px;
}
.linf li{
    margin: 20px;
    
}
.linf a{
    text-decoration: none;
    color: black;
}